.bottom-nav {
  position: fixed;
  bottom:0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-top: 1px solid rgba(255, 255, 255, 0.2);

  box-shadow: 0 -2px 10px rgba(0,0,0,0.1);
}

.bottom-nav a {
  text-decoration: none;
  color: #e6dbdb;
  font-size: 12px;
  text-align: center;
}

.bottom-nav a.active {
  color: #6a11cb;
  font-weight: bold;
}