.details-page {
  max-width: 420px;
  margin: auto;
  
  text-align: center;
  animation: fadeIn 0.4s ease-in-out;
  padding-bottom: 110px;
}

.details-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 12px;
}

.info-card {
  background: #f3f3f3;
  padding: 12px;
  border-radius: 10px;
  margin: 12px 0;
}

.box {
  background: #fff4e5;
  padding: 15px;
  border-radius: 10px;
}

.seat-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.seat-row button {
  width: 40px;
  height: 40px;
  border: none;
  background: #ff7043;
  color: white;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.seat-row button:hover {
  background: #f4511e;
  transform: scale(1.1);
}

.seat-count {
  font-size: 20px;
  font-weight: bold;
}

.limit {
  font-size: 12px;
  color: gray;
}

.total {
  margin-top: 15px;
}

.confirm-btn {
  width: 100%;
  padding: 12px;
  background: #e53935;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
  
}

.confirm-btn:hover {
  background: #c62828;
  transform: scale(1.05);
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}